@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom__number__input input {
  border: none;
  outline: none;
  background-color: rgb(248 250 252);
}
.custom__number__input input:focus {
  border: none;
  outline: none;
}

.PhoneInput--focus {
  border: 2px solid black;
}
